.page-container {

  margin-bottom:16px;

  .btn {
    border-radius: 12px;
  }

  #new_comment {
    margin-bottom: 24px;
  }

}
.artwork-container{
    display: flex;

    .artist-info {
      flex-basis: 440px;
    }
    .image-container {
      flex: 1 1;
      background-color: white;
      $image-container-padding: 20px;
      padding: $image-container-padding;
      box-sizing: border-box;
      img {
        width: 100%;
        max-height: calc(100vh - 100px - 60px - #{$image-container-padding} * 2);
        object-fit: contain;
      }
    }
}

.container-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 60px 0 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid $light-gray;

  .image-container {
    margin-right: 20px;

    img {
      width: 100%;
      height: auto;
      max-height: 600px;
    }
  }

  .artist-info .info-top {
    width: 400px;
    height: 555px;


    a {
      text-decoration: none;
      color:black;

      :hover {
        color: grey;
      }
    }



    & p {
      color: grey;
      font-size: 15px;
    }

  }

  .btn-success {
    border-radius: 8px;
  }
}

.container-bottom {
  margin-top: 24px;
  margin-bottom: 24px;

  & p {
    color: grey;
  }

}

.gallery-container-home{
  max-height: 150vh;
  position: relative;
  overflow: hidden;
  .bottom-crop:before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 250px;
    pointer-events: none;
    background: linear-gradient( 0deg, #fff, transparent );
  }
  .bottom-crop:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: #fff;
    }
}
.artwork-cards {
  display: block !important;
  width: 100%;
  padding: 24px 32px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  column-gap: 26px;
  position: relative;
  column-count: 4;
  @media screen and (max-width: 1400px) { column-count: 3; }
  @media screen and (max-width: 1000px) { column-count: 2; }
  @media screen and (max-width: 700px) { column-count: 1; }


  // .bottom-crop { position: absolute; }

  .artwork-card {
    @extend .card;
    display: inline-block !important;
    margin-bottom: 26px;
    opacity: 0;
    animation: fadein .5s .2s ease-out forwards;

    .overlay {
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;
      p, h4 { width: 100%; }
      display: none;
      text-decoration: none;
      background-color: rgba(255,255,255,0.85)
    }

    &:hover .overlay { display: flex; }

    img {
      width: 100%;
      height: auto !important;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.artist-info {
  position:relative;

 .info-bottom{
  display:flex;
  justify-content: space-between;
  position: absolute;
  bottom:10px;
  align-items: center;

  .btn {
    margin-left: 120px;
    margin-bottom: 15px;
  }
  }
}
