<div class="artist-nav">
    <a href="<%= artist_path(artist) %>" class="artist-nav-item active" >Gallery</a>
    <a href="#" class="artist-nav-item" >Events</a>
    <a href="<%= artist_about_path(artist) %>" class="artist-nav-item" >About</a>
</div>
