<div class="artist-card">
  <div class="card-artwork">
    <% artwork = artworks.where(user_id: user.id).sample %>
    <img src="<%= artwork.artwork_pic %>" alt="Artwork">
  </div>
  <div class="card-profile">
    <img src="<%= user.profile_pic %>" alt="Profile picture">
    <div class="profile-info">
      <h5><%= user.first_name %> <%= user.last_name %></h5>
    </div>
  </div>
</div>
