<div class="artist-card">
  <div class="card-artwork">
    <% unless artist.artworks.count == 0 %>
      <% artwork = artist.artworks.sample %>
      <img src="<%= artwork.artwork_pic %>" alt="Artwork">
    <% end %>
  </div>
  <div class="card-profile">
    <img src="<%= artist.profile_pic %>" alt="Profile picture">
    <div class="profile-info">
      <h5><%= artist.first_name %> <%= artist.last_name %></h5>
    </div>
  </div>
</div>
