<div class="profile-image">
  <% if artist.photo.attached? %>
    <%= cl_image_tag artist.photo.key, class: "avatar", crop: :fill, height: 120, width: 120 %>
  <% else %>
  <%= cl_image_tag artist.profile_pic, class: "avatar", crop: :fill, height: 120, width: 120  %>
  <% end %>
</div>
