<div class="profile-image">
  <% if artist.photo.attached? %>
    <%= cl_image_tag artist.photo.key, class: "avatar-profile", crop: :fill, height: 500 %>
  <% else %>
     <%= cl_image_tag artist.profile_pic, class: "avatar-profile", crop: :fill, height: 500 %>
  <% end %>
</div>
