<div class="profile-image">
  <% if artist.photo.attached? %>
    <%= cl_image_tag artist.photo.key, crop: :fill, class: "avatar-profile" %>
  <% else %>
    <img class="avatar-profile" src="<%= artist.profile_pic %>?w=500&fit=max">
  <% end %>
</div>
