<div class="footer-background">
  <div>
    <div class="footer-icons">
      <a href="#" class="footer-icon"><i class="fab fa-facebook"></i></a>
      <a href="#" class="footer-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="footer-icon"><i class="fab fa-pinterest"></i></a>
      <a href="#" class="footer-icon"><i class="fab fa-twitter"></i></a>
    </div>
    <br>
    <div class="useless-info">
      <a href="#" class="info-button">About Us</p>
      <a href="#" class="info-button">Contact Us</p>
      <a href="#" class="info-button">Privacy Policy</p>
    </div>
    <p>All trademarks and copyrights on this website are the property of their respective owners</p>
 </div>
</div>
