<%= form_tag artworks_path, method: :get do %>
<div class="search-form">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an artwork"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
