<div class="container">
  <div class="banner">
    <img src="" alt="">
  </div>
</div>

<div class="container">
  <div class="artists-cards">
    <% @users.sample(10).each do |user| %>
      <%= render partial: 'shared/artist-card', locals: { artist: user } %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="join-banner">

  </div>
</div>
