<div class="container">
  <div class="banner">

  </div>
</div>

<div class="container">
  <div class="artists-cards">
    <% @users.sample(10).each do |user| %>
      <%= render 'shared/artist-card', user: user, artworks: @artworks %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="join-banner">

  </div>
</div>
