<div class="banner-container">
  <div class="banner">
    <%= render partial: 'shared/banner' %>
  </div>
</div>
<div class="container-cards">
  <h2>Popular Artists</h2>
  <div class="artists-cards">
    <% @users.sample(6).each do |user| %>
      <%= render partial: 'shared/artist-card', locals: { artist: user } %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="join-banner">

  </div>
</div>
