.avatar-profile {
  width: 100%;
  max-height: 500px;
  object-fit: cover;

}
.social-icon {
  @extend h5;
  display: block;
  margin: 0 0 16px !important;
  padding: 0 !important;
}

.avatar-profile {
  text-align: left;
}

.artist-info {
  margin-top: 24px;

  p {
    text-align: justify;
  }
}
