.container-events {
  display:flex;

  #map {
    position: sticky;
    top: 10px;
  }
}

    // box-shadow: 0 0 15px rgba(0,0,0,0.2);

.map-container {
  padding: 0px;
}
.card-event {
  margin-bottom: 4px;
  padding: 20px 0px;
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;


  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
  }

    h2 {
      font-size: 32px;
      font-weight: bold;
      margin: 0;
      }

    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }

    h5 {
      font-size: 16px;
      color:orange;
      text:bold;
    }

    h6 {
      color: grey;
    }

    a {
      position: 0px -8px;
    }
  .card-product-infos {
    padding: 32px;
    display: inline;
  }
}


