.footer-background {
  // margin-top: 40px;
  padding-top: 32px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  background-color: $lighter-gray;
  color: rgb(183, 180, 165);
  position: relative;
  @extend  %shadow-before-inset;
}

.footer-icons{
    margin-top: 20px;
    text-align: center;
}

.footer-icon {
  text-align: center;
  margin: 10px;
  font-size: 40px;
  color: rgb(183, 180, 165) !important;
  :hover {
    color: rgb(240, 240, 240);
  }
}

.useless-info {
  display: flex;
  justify-content: center;
  .info-link {
    margin: 4px;
    color: rgb(183, 180, 165);
    :hover {
      color: rgb(240, 240, 240);
    }
  }
}
