.form {
  // padding-top: 24px;
  padding: 40px 48px 24px 48px;
  background-color: white;
  margin-bottom: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 12px 4px rgba(8, 8, 8, .08);
}

.form-control {
  border-radius: 42px;
  box-shadow: 1px 1px 1px rgba(8, 8, 8, .05);
  border-color: black;
  vertical-align: center;
}
