.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 2px solid $light-gray;
  margin-bottom: 16px
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}
